header nav ul img{
    float: left;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(213, 195, 174);
  align-items: center;
}


header nav ul li {
  padding: 7px 0;
  float: right;
}


header nav ul li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

header nav ul li a:hover {
  color: rgb(60, 58, 55);
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

#banniere {
  font-size: 60px;
  /* Autres styles spécifiques à h1 dans la bannière si nécessaire */
  color: #333; /* Couleur du texte */
  padding: 130px; 
  background-color: rgb(251, 242, 232); /* Ajoutez la couleur de fond du padding ici */
}
.cadre {
  width: 300px; /*  la largeur du cadre */
  padding: 20px; /* un espace intérieur pour améliorer l'apparence */
  border: 2px solid #333; /* couleur et épaisseur de la bordure */
  margin: 50px auto; 
}

.liste-mouvante ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.liste-mouvante li {
  position: relative;
  padding: 10px;
  border: 1px solid #ccc;
  margin-right: 600px; /* Adjust the right margin as needed */
  margin-bottom: 20px;
  margin-left: 20px;
}



.liste-mouvante li:hover .contenu-choix {
  display: block;
}

.contenu-choix {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 5px;
  padding: 30px;
  background-color: #fff;
  width: 700px;

   
}

.sous-choix {
  border: 1px solid #ccc;
  margin: 40px;
  padding: 40px;

}
footer {
    background-color: rgb(75, 87, 72);
    font-family: heebo-light;
    color: white;
    text-align: left;
    padding: 10px; /* Add padding as needed */
    margin-top: 2500px; /* Adjust as needed */
}

footer table a {
    text-decoration: none;
    color: white;
}

footer table {
  margin: 0 auto;
  width: 80%;
  text-align: left;
}

.c1 {
    font-weight: bolder;
    font-size: 50px;
    text-align: right;
}

footer table tr th {
    font-size: 30px;
}


#rejoindre {
    border: solid 1px rgb(96,105,93);
    border-color:white;
    font-family: heebo-light;
    font-size: 15px;
    color: white;
    background-color: transparent;
    
}
#rejoindre:hover{
    background-color: rgb(96,105,93);
}

td th{
    height: 10px;
}

#contenu-4 
{
    background-color:rgb(251, 242, 232);  
    text-align: center;

}
#contenu-4 ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

#contenu-4 ul li{
    padding: 7px 16px;
    float: left;
}


#contenu-4 p
{
text-align: center;
color: black;
margin: 0px;
}
#contenu-4 ul li a 
{
    text-decoration: none;
    color: black;
}